:root {
    --primary: #2b2d42;
    --secondary: #8d99ae;
    --tertiary: #edf2f4;
    --light-red: #ef233c;
    --red: #d90429;
    --white: #fff;
}

html {
    min-height: 100%;
    background-image: url(/assets/imgs/globe.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 45px;
    color: var(--white);
    text-shadow: #000000 0px 2px 2px;
}

.title-container {
    margin: 50px;
    background-color: rgba(102, 102, 102, 0.3);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 10px;
    backdrop-filter: blur(1px);
}

.search {
    background-color: rgba(102, 102, 102, 0.3);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 10px;
    backdrop-filter: blur(1px);
    margin-left: 3.5%;
}

#btn-search {
    background-color: var(--red);
    color: var(--tertiary);
    border: none;
    transition: all 0.3s ease 0s;
}
#btn-search:hover {
    background-color: var(--light-red);
    color: var(--tertiary);
    box-shadow: rgba(214, 0, 0, 0.75) 0 5px 7px;
    transform: translateY(-1px);
}

#btn-clear {
    background-color: var(--primary);
    color: var(--tertiary);
    border: none;
    transition: all 0.3s ease 0s;
}

#btn-clear:hover {
    background-color: var(--secondary);
    color: var(--tertiary);
    box-shadow: rgba(97, 97, 97, 0.75) 0 5px 7px;
    transform: translateY(-1px);
}

#footer {
    background-color: rgba(40, 40, 40, 0.65);
    box-shadow: rgba(0, 0, 0, 0.5) 8px 10px 0;
    backdrop-filter: blur(1px);
    color: var(--white);
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.footer-text {
    margin: 35px auto;
    font-size: large;
}

.github {
    text-decoration: none;
    color: white;
    text-shadow: rgba(255, 255, 255, 0.5) 0 4px 5px;
}
