:root {
    --primary: #2b2d42;
    --secondary: #8d99ae;
    --tertiary: #edf2f4;
    --light-red: #ef233c;
    --red: #d90429;
    --white: #fff;
}

body {
    background-image: url(/assets/imgs/globe.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 45px;
    color: var(--white);
    text-shadow: #000000 0px 2px 2px;
}

.title-container {
    margin: 50px;
    background-color: rgba(102, 102, 102, 0.3);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 10px;
    backdrop-filter: blur(1px);
}
